openapi: 3.0.0
info:
  title: NutriShip
  version: '1.2'
  contact:
    name: Byron Stokes
    url: nutrifresh.io
    email: byron@nutrifreshservices.com
  termsOfService: 'https://nutrifresh.io/terms'
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
  description: Shipment API for generating labels and verifiying addresses.
servers:
  - url: 'https://api.nutriship.io'
    description: NutriShip
paths:
  /validate:
    post:
      summary: Validation Post
      operationId: post-validate
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified:
                    type: string
                  resi_flag:
                    type: boolean
              examples:
                Example:
                  value:
                    verified: verified
                    resi_flag: true
      description: Validation of addresses and residential flag.
      parameters:
        - schema:
            type: string
          in: header
          name: api-key
          description: |
            API Key must be passed to access this endpoint
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                address_line1:
                  type: string
                city:
                  type: string
                state:
                  type: string
                postal_code:
                  type: string
                country_code:
                  type: string
            examples:
              Example:
                value:
                  address_line1: 285 Fulton Street
                  city: New York
                  state: NY
                  postal_code: '10007'
                  country_code: US
        description: Address validation ensures accurate addresses and can lead to reduced shipping costs by preventing address correction surcharges
components:
  schemas: {}
  securitySchemes:
    api-key:
      name: api-key
      type: apiKey
      in: header
security:
  - api-key: []
